    <ul>
        <li><a href="/">Home</a></li>
    </ul>

<form action="/signup" method="post">
    <label for="">Username: </label>
    <input type="text" name="username" id="">
    <label for="">Password: </label>
    <input type="password" name="password" id="">
    <input type="submit" value="Create">
</form>

<h1>{{error}}</h1>